.filters-container {
    position: absolute;
    padding-left: 12px;
    padding-top: 10px;
    top: 131px;
    right: 0px;
    width: 250px;
    height: 50%;
    background-color: rgb(255, 255, 255);
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-right: none;
}

.filters-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.slider {
    appearance: none;
    width: 90%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slide-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.ubicacion-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.ubicacion-container {
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.ubicacion-btn {
    width: 45%;
    height: 30px;
    margin-bottom: 8px;
    background-color: rgb(216, 248, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.selected {
    background-color: rgb(163, 255, 171);
}